@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Rajdhani&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Padauk&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap');


body{
    margin: 0%;
    background-color: rgb(0, 0, 17);
}

html{
    scroll-behavior: smooth;
}

Header a{
    text-decoration: none;
    color: silver;
    transition: ease-in-out 500ms;
    text-transform: uppercase;
}

main a{
    text-decoration: none;
    color: silver;
    transition: ease-in-out 500ms;
    text-transform: uppercase;
}

footer a{
    text-decoration: none;
    color: rgb(124, 120, 120);
    text-transform: uppercase;
}

.base a{
    text-decoration: none;
    color: silver;
    transition: ease-in-out 500ms;
}

header a:hover{
    text-shadow: 0px 0px 5px rgb(253, 233, 120), 0px 0px 3px gold;
    color: gold;
}

header .grid-area {
    display: grid;
    grid-template-columns: repeat(2,1fr); 
    text-align: center;
}

header .grid-gap ul{
    display: grid;
    grid-template-columns: repeat(3,0.5fr); 
    list-style: none;
}

header{
    top: 0%;
    width: 100%;
    box-shadow: 0px 0px 10px 0px black;
    height: 4rem;
    background-color: rgb(34, 32, 32);
    font-family: 'Oswald', sans-serif;
    position: fixed;
}

.slider{
    overflow: hidden;
    margin: 4.1rem auto 3px auto;
    width: 1150px;
    height: 500px;
    top: 0px;
    opacity: 0.3;
}

 .slider figure{
     position: relative;
    width: 500%;
    margin: 0;
    left: 0;
    animation: 10s slider infinite;
    top: 0px;
}
.slider figure img{
    width: 20%;
    float: left;
    
}

@keyframes slider{
    0%{
        left: 0%;
    }
    20%{
        left: 0%;
    }
    25%{
        left: -100%;
    }
    45%{
        left: -100%;
    }
    50%{
        left: -200%;
    }
    70%{
        left: -200%;
    }
    75%{
        left: -300%;
    }
    95%{
        left: -300%;
    }
    100%{
        left: -400%;
    }
}

.grid{
    display: grid;
    grid-template-columns:repeat(3, 0.3fr);
    grid-gap:3rem;
    text-align: center;
    justify-content: center;
}

.grid > div{
    background-color: rgb(21, 20, 20);
    border-radius: 0.25rem;
    box-shadow: black 0rem 0rem 0.40rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 85%;
    justify-content: center;
    align-content: center;
    margin: auto;
    margin-bottom: 5rem;
    margin-right: 20rem;
}

.grid-container div{
    width: 13rem;
    margin-left: 20rem;
    background-color: rgb(250, 193, 7);
    border-radius: 15px 0px 0px 15px;
}

.grid-container img{
    border-radius: 0px 15px 15px 0px;
}

.grid-container button{
    height: 3rem;
    width: 10rem;
    border-radius: 1rem;
    background-color: black;
    border: none;
    margin-top: 7rem;
}

.grid-container a{
    font-family: 'Rajdhani', sans-serif;
    font-size: 1.25rem;
}

.grid-container h3{
    font-size: 2rem;
}

.ab{
    padding-top: 2rem;
}

#details{
    text-align: center;
    font-size: 20px;
    width: 85%;
    color: rgba(255, 255, 255, 0.871);
    margin: auto;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Rajdhani', sans-serif;
    background-color:rgba(34, 32, 32, 0.522);
    box-shadow: 0rem  0rem 0.5rem black;
}

.Banquet{
    text-align: center;
    font-size: 20px;
    width: 85%;
    color: rgba(255, 255, 255, 0.871);
    margin: auto;
    line-height: 30px;
    font-weight: 400;
    font-family: 'Rajdhani', sans-serif;
    background-color:rgba(34, 32, 32, 0.522);
    box-shadow: 0rem  0rem 0.5rem black;
    margin-top: 3.5rem;
}

main a:hover{
    text-shadow: 0px 0px 5px rgb(253, 233, 120), 0px 0px 3px gold;
    color: gold 
}

footer a{
    color: gold;
    font-family: 'Padauk', sans-serif;
}

footer li{
    list-style: none;
}

footer .grid-box{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

footer .grid-box div{
    text-align: center;
}

footer .grid-box .id{
    padding-top: 1rem;
    line-height: 1.5rem;
    font-size: 1rem;
}

footer .grid-box .id a{
    text-transform: lowercase;
} 
footer span{
    color: silver;
    font-family: 'Oswald', sans-serif;
} 

footer li{
    text-align: center;
    line-height: 1rem;
    font-size: 0.7rem;
}
footer{
    background-color: #222;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    font-size: 0.9rem;
}

footer a:hover{
    color: gold;
    border-bottom: gold 1px solid;
}

body h1{
    background-color: gold;
    width: fit-content;
    height: 2rem;
    border-radius: 5px;
    text-transform: uppercase;
    margin: auto;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0px 0px 5px rgb(253, 233, 120), 0px 0px 3px gold;
    text-shadow: black 1px solid;
}

div#Rental{
    padding-top: 5rem;
}

div#Rent{
    padding-top: 5rem;
}

div#Rent div{
    display: grid;
    grid-template-columns: repeat(1,1fr);
}


div#Rent span i{
    color: gold;
}

div#Rent span a i{
    display: inline;
    padding: 2rem;
    text-align: center;
}

div#Terms{
    padding-top: 5rem;
    text-align: left;
}

div#Terms h2{
    width: fit-content;
    margin: auto;
    padding-top: 2rem;
    border-bottom: 5px solid gold;
}

div#Terms p{
    width: 95%;
    margin: auto;
    line-height: 1.5rem;
    padding: 1rem;
}

div#Terms span{
    color: gold;
}

marquee{
    background-image: linear-gradient(to right,rgb(19, 18, 18), rgb(0, 0, 38), rgb(19, 18, 18));
    margin-bottom: 5rem;
}

marquee a{
    color: gold;
}

footer .write{
    text-align: center;
    font-size: 1rem;
    color: rgba(14, 165, 235, 0.905);
    font-family: 'Playfair Display SC', serif;
    background-color: #111;
    margin: 0%;
    width: 100;
    overflow: hidden;
}

    .id .social span{
        color: rgba(14, 165, 235, 0.905);
    }

    .id .social div a{
        padding: 1rem;
    }
@media(max-width:768px){

    body{
        margin: 0%;
        background-color: rgb(0, 0, 17);
        width: 100%;
    }

    header{
        top: 0%;
        width: 100%;
        box-shadow: 0px 0px 10px 0px black;
        height: 20rem;
        background-color: rgb(34, 32, 32);
        font-family: 'Oswald', sans-serif;
        position: fixed;
    }

    header .grid-area {
        display: grid;
        grid-template-columns:1fr; 
        text-align: center;
        font-size: 3rem;
        padding-bottom: 15rem;
    }

    header .grid-area div img{
        height: 10rem;
    }

    main{
        width: 1350px;
        margin: auto;
        box-shadow: black 0rem 0rem 2rem;
    }
    
.slider{
    overflow: hidden;
    margin: 4.1rem auto 3px auto;
    width: 1150px;
    height: 500px;
    top: 0px;
    opacity: 0.3;
    margin-top: 12rem;
}

marquee{
    background-image: linear-gradient(to right,rgb(19, 18, 18), rgb(0, 0, 38), rgb(19, 18, 18));
    height: 60px;
    font-size: 3.5rem;
    overflow: hidden;
    padding-top: 1rem;
}

body h1{
    background-color: gold;
    width: fit-content;
    height: 2rem;
    border-radius: 10px;
    text-transform: uppercase;
    margin: auto;
    padding-left: 1rem;
    padding-top: 2rem;
    padding-right: 1rem;
    padding-bottom: 2rem;
    box-shadow: 0px 0px 10px rgb(253, 233, 120), 0px 0px 10px gold;
    font-size: 5rem;
}

.container{
    padding-bottom: 2rem;
}

.grid{
    display: grid;
    grid-template-columns:1fr;
    grid-gap:3rem;
    text-align: center;
    justify-content: center;
    font-size: 3rem;
    line-height: 5rem;
}


.grid > div{
    background-color: rgb(21, 20, 20);
    border-radius: 0.25rem;
    box-shadow: black 0rem 0rem 1rem;
    width: 725px;
    margin: auto;
    padding-bottom: 2.5rem;

}

.grid > div img{
    height: 750px;
    width: 650px;
    margin-bottom: 2.5rem;
}

main p{
    font-size: 3.5rem;
    line-height: 60px;
    margin: auto;
    width: 1000px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(30%,70%);
    width: 1100px;
    margin: auto;
    margin-bottom: 5rem;
    margin-right: 20rem;
}

.grid-container div{
    width: 15rem;
    margin-left: 20rem;
    background-color: rgb(250, 193, 7);
    border-radius: 15px 0px 0px 15px;
}

.grid-container img{
    border-radius: 0px 15px 15px 0px;
    height: 500px;
    width: 300px;
}

.grid-container button{
    height: 6rem;
    width: 13rem;
    border-radius: 1rem;
    background-color: black;
    border: none;
    margin-top: 11rem;
}

.grid-container button a{
    font-size: 2.5rem;
    overflow: hidden;
}

div#Rental{
    padding-top: 13rem;
}

div#Rent{
    padding-top: 13rem;
}

#details{
    padding-top: 8rem;
}

div#Rent span a i{
    display: inline;
    padding: 2rem;
    text-align: center;
}

div#Terms{
    padding-top: 13rem;
    text-align: left;
}

.ab{
    padding-top: 2rem;
}
div#Terms h2{
    width: fit-content;
    margin: auto;
    margin-top: 2rem;
    border-bottom: 0.8rem solid gold;
    font-size: 3rem;
}

div#Terms p{
    width: 95%;
    margin: auto;
    line-height: 4rem;
    padding: 2rem;
}

footer .write{
    text-align: center;
    font-size: 3rem;
    color: rgba(14, 165, 235, 0.905);
    font-family: 'Playfair Display SC', serif;
    background-color: #111;
    margin: 0%;
    width: 100%;
    overflow: hidden;
}

footer{
    background-color: #222;
    overflow: hidden;
    font-family: 'Oswald', sans-serif;
    line-height: 60px;
    overflow: hidden;
    width: 1370px;
}

footer li{
    text-align: center;
    line-height: 4rem;
    font-size: 2.75rem;
    top: 0px;

}

.id .social span{
    color: rgba(14, 165, 235, 0.905);
    font-size: 3rem;
    float: left;

}

.id .social{
    display: grid;
grid-template-columns: 1fr;
}

footer .grid-box{
    display: grid;
    grid-template-columns: 1fr;
}

footer .grid-box .id{
    line-height: 4rem;
    font-size: 3rem;
}

}
